@{
    ViewData["Title"] = "Thank you!";
}

<div class="jumbotron">
    <h1 class="title">Thank you from St. Mary's Food Bank!</h1>
    <h4>
        You have made a difference in people's lives!
    </h4>
</div>
